.about-section .about-content {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.about-section .about-content h1 {
  text-align: center;
  font-weight: 100;
  font-size: 15px;
}

.about-section .about-content p {
  font-size: 20px;
  line-height: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: goldenrod;
}

.about-section .about-content .more {
  padding: 15px 25px;
}
span {
  background: #fff;
}

.about-section .about-content .more {
  margin: 0 15px 25px;
  border-radius: 10px;
  background: #fff;
  border: goldenrod;
}

.about-content {
  display: grid;
}
.about-section .about-content .image {
  size: 10px;
  justify-items: center;
}
