* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* body {
  font-family: "Rubik Mono One", sans-serif;
} */

/* landing image */
#landing {
  width: 45vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(206, 200, 200, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  object-fit: cover;
}

.left-content {
  top: 9px;
  right: 0;
  width: 50vw;
  position: absolute;
  padding-right: 50px;
  border-radius: 10px;
}
footer {
  text-align: center;
  padding: 100px;
  background-color: goldenrod;
  color: white;
}

#cell-no {
  font-size: 15px;
}
#identity {
  font-size: 15px;
}
#email-address {
  font-size: 15px;
}
footer i {
  font-size: 20px;
  color: black;
}

footer p {
  font-size: 40px;
}
#identity {
  text-align: center;
  margin-bottom: 30px;
}

.info #cell-no,
#Email-address {
  font-size: 15px;
  font-size: 25px;
  margin: 35px;
}
